.load-more-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product {
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.product img{
  width: 200px;  
  height: 200px; 
}

.button-container{
    display: flex;
   justify-content: center;
   align-items: center;
}

.limit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}