/* html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    margin: 0;
    padding: 0;
    height: 100%;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d25ffb1;
    background-image: url('https://images.pexels.com/photos/417458/pexels-photo-417458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    margin: auto;
}

.current-image {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #ffffff91;
    filter: drop-shadow(0px 0px 5px #fff);

}

.arrow-left {
    left: 1rem;

}

.arrow-right {
    right: 1rem;
}

.circle-indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
    
}

.current-indicator {
    background-color: #ffffff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
}

.hide-current-image {
    display: none;
}

.inactive-indicator {
   background-color: grey;
   

}